## NLL Goalies Stats Cleaning

Work by Alexander Palensky

For questions, 
contact me on [Twitter](https://twitter.com/AlPalensky)
or view my [Kaggle Account](https://www.kaggle.com/apalensky) for supplemental content

In [75]:
import numpy as np
import pandas as pd
import datetime
from datetime import date
import re

In [76]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [77]:
df = pd.read_csv('NLLGoaliesGameStats.csv')

In [78]:
split1 = df['Name'].str.split('\n ', n = 1, expand = True)
df['Name'] = split1[0]
df['Credit'] = split1[1]

In [79]:
df.head()

,Unnamed: 0,#,Name,MIN,SOG,SV Q1,SV Q2,SV Q3,SV Q4,SV,GA,Date,Location,Day,Team,SV OT,Credit
0,0,0,D.Lee,15:00,0,37,0,0,NaN,37,0,1993-03-28,New York,Sun,Baltimore Goalies,NaN,(loss)
1,1,Totals:,15:00,0,37,0,0,NaN,37,0,NaN,1993-03-28,New York,Sun,NaN,NaN,None
2,2,#,Name,MIN,SOG,SV Q1,SV Q2,SV Q3,SV Q4,SV,GA,1993-03-28,New York,Sun,NaN,NaN,None
3,3,0,S.LoCascio,15:00,0,29,0,0,NaN,29,0,1993-03-28,New York,Sun,New York Goalies,NaN,(win)
4,4,Totals:,15:00,0,29,0,0,NaN,29,0,NaN,1993-03-28,New York,Sun,NaN,NaN,None

In [80]:
df.drop(df[df['#'] == '#'].index, inplace = True)

In [81]:
df.drop(df[df['#'] == 'Totals:'].index, inplace = True)

In [82]:
len(df)

5800

In [83]:
new_row1 = {'Unnamed: 0':10293, '#':39, 'Name':"P.O'Toole", 'MIN':'59:50','SOG':50,'SV Q1':5, 
           'SV Q2':8, 'SV Q3':16, 'SV Q4':10, 'SV':39, 'GA':11, 'Date':'2006-02-10', 
           'Location':'Toronto','Day':'Fri', 'Team':'Rochester Goalies', 'SV OT':0, 'Credit':'(loss)'}
#append row to the dataframe
df = df.append(new_row1, ignore_index=True)

In [84]:
new_row2 = {'Unnamed: 0':10294, '#':52, 'Name':"G.Crawley", 'MIN':np.nan,'SOG':np.nan,'SV Q1':np.nan, 
           'SV Q2':np.nan, 'SV Q3':np.nan, 'SV Q4':np.nan, 'SV':np.nan, 'GA':np.nan, 'Date':'2006-02-10', 
           'Location':'Toronto','Day':'Fri', 'Team':'Rochester Goalies', 'SV OT':np.nan, 'Credit':'(b)'}
#append row to the dataframe
df = df.append(new_row2, ignore_index=True)

In [85]:
new_row3 = {'Unnamed: 0':10295, '#':29, 'Name':"B.Watson", 'MIN':'60:10','SOG':43,'SV Q1':10, 
           'SV Q2':4, 'SV Q3':3, 'SV Q4':16, 'SV':33, 'GA':10, 'Date':'2006-02-10', 
           'Location':'Toronto','Day':'Fri', 'Team':'Toronto Goalies', 'SV OT':0, 'Credit':'(win)'}
#append row to the dataframe
df = df.append(new_row3, ignore_index=True)

In [86]:
new_row4 = {'Unnamed: 0':10296, '#':90, 'Name':"P.Wetherup", 'MIN':np.nan,'SOG':np.nan,'SV Q1':np.nan, 
           'SV Q2':np.nan, 'SV Q3':np.nan, 'SV Q4':np.nan, 'SV':np.nan, 'GA':np.nan, 'Date':'2006-02-10', 
           'Location':'Toronto','Day':'Fri', 'Team':'Toronto Goalies', 'SV OT':np.nan, 'Credit':'(b)'}
#append row to the dataframe
df = df.append(new_row4, ignore_index=True)

In [87]:
df = df.reset_index()
df.tail(25)

,index,Unnamed: 0,#,Name,MIN,SOG,SV Q1,SV Q2,SV Q3,SV Q4,SV,GA,Date,Location,Day,Team,SV OT,Credit
5779,5779,10257,31,A.Shute,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-07,Saskatchewan,Sat,Saskatchewan Goalies,NaN,(b)
5780,5780,10259,49,R.Hartley,38:54,46,13,11,7,NaN,31,15,2020-03-07,San Diego,Sat,Rochester Goalies,NaN,(loss)
5781,5781,10260,1,C.Wende,21:06,22,NaN,NaN,5,13,18,4,2020-03-07,San Diego,Sat,Rochester Goalies,NaN,None
5782,5782,10263,92,F.Scigliano,51:41,31,7,5,9,4,25,6,2020-03-07,San Diego,Sat,San Diego Goalies,NaN,(win)
5783,5783,10264,39,N.Damude,8:19,4,NaN,NaN,NaN,4,4,0,2020-03-07,San Diego,Sat,San Diego Goalies,NaN,None
5784,5784,10266,48,M.Vinc,59:59,53,10,13,12,8,43,10,2020-03-08,Halifax,Sun,Buffalo Goalies,NaN,(loss)
5785,5785,10267,57,D.Buchan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Halifax,Sun,Buffalo Goalies,NaN,(b)
5786,5786,10270,76,W.Hill,60:00,55,13,13,13,7,46,9,2020-03-08,Halifax,Sun,Halifax Goalies,NaN,(win)
5787,5787,10271,35,P.Dubenski,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Halifax,Sun,Halifax Goalies,NaN,(b)
5788,5788,10273,35,C.Del Bianco,60:00,49,5,12,13,9,39,10,2020-03-08,Toronto,Sun,Calgary Goalies,NaN,(win)
5789,5789,10274,0,T.Richards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Toronto,Sun,Calgary Goalies,NaN,(b)
5790,5790,10277,66,N.Rose,59:59,52,15,7,9,9,40,12,2020-03-08,Toronto,Sun,Toronto Goalies,NaN,(loss)
5791,5791,10278,1,R.Hutchcraft,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Toronto,Sun,Toronto Goalies,NaN,(b)
5792,5792,10280,31,Z.Higgins,60:00,54,10,8,12,13,43,11,2020-03-08,Georgia,Sun,Philadelphia Goalies,NaN,(win)
5793,5793,10281,36,B.Miller,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Georgia,Sun,Philadelphia Goalies,NaN,(b)
5794,5794,10284,30,M.Poulin,60:00,48,7,15,7,7,36,12,2020-03-08,Georgia,Sun,Georgia Goalies,NaN,(loss)
5795,5795,10285,29,K.Orleman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Georgia,Sun,Georgia Goalies,NaN,(b)
5796,5796,10287,39,S.Fryer,60:00,44,7,14,6,7,34,10,2020-03-08,Colorado,Sun,Rochester Goalies,NaN,(loss)
5797,5797,10288,1,C.Wende,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-08,Colorado,Sun,Rochester Goalies,NaN,(b)
5798,5798,10291,30,T.Carlson,50:39,40,5,7,10,15,37,3,2020-03-08,Colorado,Sun,Colorado Goalies,NaN,(win)
5799,5799,10292,45,D.Ward,9:21,12,7,NaN,NaN,NaN,7,5,2020-03-08,Colorado,Sun,Colorado Goalies,NaN,None
5800,5800,10293,39,P.O'Toole,59:50,50,5,8,16,10,39,11,2006-02-10,Toronto,Fri,Rochester Goalies,0,(loss)
5801,5801,10294,52,G.Crawley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-02-10,Toronto,Fri,Rochester Goalies,NaN,(b)
5802,5802,10295,29,B.Watson,60:10,43,10,4,3,16,33,10,2006-02-10,Toronto,Fri,Toronto Goalies,0,(win)
5803,5803,10296,90,P.Wetherup,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-02-10,Toronto,Fri,Toronto Goalies,NaN,(b)

In [88]:
df = df[df.columns[[14, 12, 13, 2, 3, 17, 15, 4, 6, 7, 8, 9, 16 , 10, 5, 11]]]

In [89]:
split2 = df['Team'].str.split('Goalies', n = 1, expand = True)
df['Team'] = split2[0]

In [90]:
df['Date'] = pd.to_datetime(df['Date'])

In [91]:
for i in range(0,len(df)):
    if df.Credit[i] == None:
        continue
    else:
        df.loc[i, 'Credit'] = df.Credit[i].strip().replace('(','').replace(')','')

In [92]:
df[["SV Q1", "SV Q2", "SV Q3", "SV Q4", "SV OT", "SV", "SOG", "GA"]] = df[["SV Q1", "SV Q2", "SV Q3", "SV Q4", "SV OT", "SV", "SOG", "GA"]].apply(pd.to_numeric)

In [93]:
for i in range(0, len(df)):
    if type(df.MIN[i]) == float:
        continue
    else:
        df.loc[i, 'MIN'] = int((df['MIN'][i]).split(':')[0]) + (int((df['MIN'][i]).split(':')[1]) / 60)

In [94]:
df.tail(10)

,Day,Date,Location,#,Name,Credit,Team,MIN,SV Q1,SV Q2,SV Q3,SV Q4,SV OT,SV,SOG,GA
5794,Sun,2020-03-08,Georgia,30,M.Poulin,loss,Georgia,60,7.0,15.0,7.0,7.0,NaN,36.0,48.0,12.0
5795,Sun,2020-03-08,Georgia,29,K.Orleman,b,Georgia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5796,Sun,2020-03-08,Colorado,39,S.Fryer,loss,Rochester,60,7.0,14.0,6.0,7.0,NaN,34.0,44.0,10.0
5797,Sun,2020-03-08,Colorado,1,C.Wende,b,Rochester,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5798,Sun,2020-03-08,Colorado,30,T.Carlson,win,Colorado,50.65,5.0,7.0,10.0,15.0,NaN,37.0,40.0,3.0
5799,Sun,2020-03-08,Colorado,45,D.Ward,None,Colorado,9.35,7.0,NaN,NaN,NaN,NaN,7.0,12.0,5.0
5800,Fri,2006-02-10,Toronto,39,P.O'Toole,loss,Rochester,59.8333,5.0,8.0,16.0,10.0,0.0,39.0,50.0,11.0
5801,Fri,2006-02-10,Toronto,52,G.Crawley,b,Rochester,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5802,Fri,2006-02-10,Toronto,29,B.Watson,win,Toronto,60.1667,10.0,4.0,3.0,16.0,0.0,33.0,43.0,10.0
5803,Fri,2006-02-10,Toronto,90,P.Wetherup,b,Toronto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
#df.to_csv('CleanedNLLGoaliesGameStats.csv')